@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

body {
    color: black;
    background-color: white;
    font-family: 'Muli', sans-serif;
}

a {
  text-decoration: none;
}

.main-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leading {
}

.leading img {
  height: 40vh;
  width: auto;
}

.trailing {
  align-items: center;
}

.trailing h1 {
  font-weight: 150;
}

.trailing h3 {
  font-weight: 100;
}

.trailing span {
  font-family: 'Avenir', sans-serif;
  font-weight: lighter;
  font-size: 0.8rem;
}

.vertical-separator {
  border-left: 0.5px solid black;
  height: 42vh;
  margin: 2rem;
}

@media only screen and (max-width: 600px) {
  .main-container {
    height: auto;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .vertical-separator {
    display: none;
  }

  .trailing {
      padding: 1 2rem;
  }
}
