body {
  font-family: Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

.linksTable {
  width: 100%;
  border: none;
  background-color: gainsboro;
  text-align: center;
  padding: 0.25rem;
}



.main-container {
  width: 100%;
  padding: 2rem 3rem;
  box-sizing: border-box;
}