@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

body {
    color: black;
    background-color: #FFFDD0;
    font-family: 'Muli', sans-serif;
}

a {
  text-decoration: none;
}

.main-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leading {
  margin-right: 50px;
}

.leading img {
  height: 40vh;
  width: auto;
  border-radius: 50%;
}

.trailing {
  align-items: center;
}

.trailing h1 {
  font-weight: 150;
}

.trailing h3 {
  font-weight: 100;
}

.trailing span {
  font-family: 'Avenir', sans-serif;
  font-weight: lighter;
  font-size: 1.5rem;
}

.vertical-separator {
  border-left: 0.5px solid black;
  height: 40vh;
  margin-left: 1rem;
  margin-right: 1rem;
}

@media only screen and (max-width: 600px) {
  .main-container {
    height: auto;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .vertical-separator {
    display: none;
  }

  .leading img {
    margin-left: 3rem;
  }
}
